.menu_tab {
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.tab_block {
    background-color: aliceblue;
}

.selected {
    background-color: rgb(92, 197, 242);
}

.content_tab {
    position: absolute;
}